/* General styles */
body {
    -webkit-user-select: none;
    user-select: none;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    background: #e1e5e9;
    cursor: default;
    font-size: 12pt;
}
.hidden {
    display: none;
}
button {
    background: #492f92;
    border: 1px solid #fff;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    padding: .4em;
    font-size: 12pt;

    transition: background .2s, color .05s;
}
button:disabled {
    color: lightgray;
    background: #7a5dcb;
    border-color: lightgray;
}
button:hover:not(:disabled) {
    background: #1d6a9a;
    cursor: pointer;
}
button:focus {
    border-color: #9CF;
    outline: 2px solid #9CF;
}
button:active {
    color: grey;
}

/* Navigation Bar */
nav {
    display: flex;
    height: 49px; /* 1px for the border */
    border-bottom: 1px solid;
    white-space: nowrap;
}
nav > div {
    color: white;
    display: flex;
    width: 100%;
    height: 100%;
    line-height: 50px;
    align-self: center;
    justify-content: center;
    position: relative;
    opacity: 1;
    overflow: hidden;

    background: #798088;
    transition: opacity .4s;
}
nav > div:not(:first-child) {
    border-left: 1px solid;
}
nav, nav > div:not(:first-child), footer {
    border-color: #666;
}
nav > div.done {
    background: #492f92;
    transition: opacity .4s, background .4s;
}

/* Main content (settings/schedules) */
main {
    display: block;
    width: 100%;
    overflow: hidden;
    top: 50px;
    height: calc(100% - 100px);
    position: absolute;
}
#steps {
    position: absolute;
    width: 600%;
    height: 100%;
    display: flex;
    justify-content: center;
    left: 0;

    transition: left .4s;
}
.step {
    position: relative;
    width: calc(100% / 6);
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    display: block;
    justify-content: center;
    align-self: center;
    box-sizing: border-box;
    padding: 10pt;
}

/* Footer Bar */
footer {
    position: absolute;
    bottom: 0;
    background: #afafaf;
    border-top: 1px solid;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    padding: .5em;
}
button.right {
    float: right;
}

/* Loading indicator */
#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    background-image: url(../resources/loading.gif);
    z-index: 10;
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
}
#loading.hidden {
    display: none;
}
